.h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150px;
}

.example {
    font-size: 50px;
  }

table, th,td{
    border: 1px solid black;
    text-align: left;
    /* width: 250px; */
}

table{
    width: 100vh;
}

th{
    height: 50px;
}

td{
    height: 40px;
    vertical-align: bottom;
}

th,td{
    padding: 15px;
    border-bottom: 1px solid black;
}

tr:hover{
    background-color: #ebe6e6b9;
}

  #headings{
      font-size: 30px;
      background-color: rgba(169, 169, 169, 0.767);
      /* height: 50px; */
  }

  #meal{
      font-size: 30px;
      line-height: 30vh;
  }